* {
  box-sizing: border-box;
}

/* START DEMO ONLY STYLES */
body {
  font-family: "Medium";
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #202020;
  font-size: 3.7rem;
  text-align: center;
  padding-left: 13%;
  margin: 0;
  line-height: 1;
  overflow-y: scroll;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* END DEMO ONLY STYLES */

.outer {
  background: black;
  background-size: cover;
  background-position: center;
  filter: grayscale(50%);
  padding: 100px 0;
  text-align: left;
}

.inner p {
  display: inline;
  line-height: 1.1;
}

.text-container {
  position: relative;
  overflow: hidden;
  display: block;
}

.highlighted-text:before {
  content: attr(data-text);
  display: inline-block;
  opacity: 1;
}

.highlighted-text {
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
  transition: clip-path 0.1s ease;
  text-shadow: 0 0 0 #fff;
}

@font-face {
  font-family: "Medium"; /*Can be any text*/
  src: local("LabilGrotesk-Medium"),
    url("./fonts/LabilGrotesk-Medium.ttf") format("truetype");
}

/* Media Query for screen width 860px or less */
@media (max-width: 860px) {
  body {
    font-size: 2.5rem; /* Adjust the font size as per your requirement */
  }
}
.flex-container {
  display: flex; /* use Flexbox */
  justify-content: center; /* center items horizontally */
  align-items: center; /* center items vertically */
  height: 100vh; /* take up full viewport height */
}

.flex-item {
  flex: 1; /* take up equal amount of space */
  margin: 1em; /* add some margin around items */
  text-align: center; /* center text within items */
  border: 1px solid black; /* border for demonstration */
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column; /* stack items vertically */
  }
}

.scrollable-div {
  height: 75vh; /* Set the fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 17px;
}
/* /* Hide the scrollbark */
.scrollable-div::-webkit-scrollbar {
  width: 0.2em;
  
}
.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.scrollbar-thumb {
  width: 8px;
  height: 50px;
  position: absolute;
  right: 2px;
  top: 0;
  background-color: #888; /* Change the background color */
  border-radius: 4px;
}

.images {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.section-2--span {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
  justify-content: normal;
}

.section-2--h2 {
  color: #a594fd;
  font-size: 1.5rem;
}

.section-2--h2-body {
  width: 70%;
  color: white;
  text-align: left;
}

.section-2--p {
  text-align: left;
  font-size: 1.1rem;
  color: #adadad;
  width: 70%;
}
